# define environment variables
export GCP_PROJECT=dark-hall-302918
export GCP_ZONE=europe-west2-c
export GCP_REGION=europe-west2
export TF_CLI_ARGS_plan="-parallelism=2"
export TF_CLI_ARGS_init="-from-module=git::git@github.com:andreistefanciprian/demo-tf-code.git//static_ip?ref=tags/0.0.3"
